<html>
    <head>
        <title>$i18n.getText('metadata.page.group.title')</title>
        <meta name="decorator" content="atl.admin" />
        <meta content="admin_users_menu/users_groups_section" name="admin.active.section">
        <meta content="group_metadata_browser" name="admin.active.tab">
    </head>
    <body>
#if ($selectedGroupObject)
<h1>$i18n.getText('metadata.page.group.title.selecedGroup') $selectedGroupObject.name</h1>
<div id="jira-metadata" class="column full">
	<div class="content">
	<p>
	$i18n.getText('metadata.page.group.descr.selectedGroup')<br/>
	<a href="${req.contextPath}/secure/admin/metadata/GroupAction.jspa">$i18n.getText('metadata.page.group.goBack')</a>
	</p>
		#set( $metadatas = $metadataService.getMetadata($selectedGroupObject))
		#set( $noDataText = $i18n.getText('metadata.page.group.noData'))
		#parse("templates/plugins/jira/metadata/viewMetadataCommon.vm")
			#set( $formActionSaveUrl = 'SaveMetadataGroup.jspa' )
			#set( $metadatasEdit = $metadataService.getAllMetadata($selectedGroupObject) )
			#set( $metadataDeleteUrl = 'DeleteMetadataGroup.jspa' )
			#set( $metadataEditHiddenKey = 'selectedGroup' )
			#set( $metadataEditHiddenValue = ${selectedGroup} )
			#parse("templates/plugins/jira/metadata/viewMetadataCommonEdit.vm")
	</div>
</div>
#else
<h1>$i18n.getText('metadata.page.group.title.noSelecedGroup')</h1>
<p>
$i18n.getText('metadata.page.group.descr.noSelectedGroup')
</p>
<form class="aui top-label" enctype="multipart/form-data" action="${req.contextPath}/secure/admin/metadata/GroupAction.jspa" method="post" id="selectGroup">
<div class="field-group">
	<label for="selectedGroup">$i18n.getText('metadata.page.group.insertName')</label>
	<input type="text" name="selectedGroup" id="selectedGroup" />
	</div>
	<div class="buttons-container form-footer">
	<div class="buttons">
	<input id="select_group" type="submit" value="$i18n.getText('metadata.page.group.button')" />
	</div>
	</div>
</form>
#end
    </body>
</html>
